*{
    overflow-x: hidden;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: white transparent;
}
 
body::-webkit-scrollbar-thumb {
  background: #0082e68f; 
  border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
a{
  text-decoration: none;
}
nav{
  background: #0082e6;
  height: 60px;
  width: 100%;
  overflow-y: hidden;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 60px;
  padding: 0 30px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 30px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 60px;
    z-index: 1;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
.footer-basic {
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  display:inline-block;
  text-align:center;
  overflow: hidden;
  border-radius:50%;
  border:1px solid #ccc;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  text-align:center;
  font-size:13px;
  color:#aaa;
}
.icon-1{
  font-size: 20px;
}
.bi-geo-alt,.bi-envelope{
  font-size: 60px;
  color: #2600ff;
}
.contact-card{
  box-sizing: border-box;
}
.card-text{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-icon{
  margin-bottom: -0.01rem;
}
.c-cards{
  box-sizing: border-box;
  border: 1px solid rgb(70, 66, 66);
  width: 60%;
	transition: .5s ease box-shadow;
  transition: 0.5s;
  border-radius: 5px;
}
@media only screen and (max-width: 768px) {
    .c-cards{
      width: 90%;
    }
    .Feedback-popup{
      margin-top: 30% !important;
    }
}
.c-cards:hover{
  box-shadow: 0px 0px 5px 0 #0000002c;
  background-color:#4c90cc;
  color: #fff; 
  border:0;
}
#contact{
  height: 90vh;
}
.lg-container {
  position: relative;
  width: 50%;
  margin-top: 30%;
}

.lg-image {
  display: block;
  width: 100%;
  height: auto;
}

.lg-overlay {
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 19px;
  right: 0;
  height: 70%;
  width: 90%;
  transition: .5s ease;
}

.lg-width {
  font-size: 25px;
  top: 14%;
  left: 50%;
}
.lg-height {
  font-size: 25px;
  top: 55%;
  left:22%;
}
.text-overlay{
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.lg-detail-box{
  background-color:whitesmoke;
  border: 1px solid black ;
  margin-top: 15%;
  border-radius: 6px;
}
.lg-detail-box:hover{
  background: #fff;
  box-shadow: 0px 0px 30px 0 #0000002c;
}
.lp-container {
  position: relative;
  width: 100%;
  margin-top: 15%;
  margin-left: 15% !important;
}

.lp-image {
  display: block;
  width: 70%;
  height: auto;
}

.lp-overlay {
  position: absolute;
  top: 17%;
  bottom: 0;
  left: 10.5%;
  right: 0;
  height: 53%;
  width: 44%;
  transition: .5s ease;
}

.lp-width {
  font-size: 20px;
  top: 16%;
  left: 50%;
}
.lp-height {
  font-size: 20px;
  top: 55%;
  left: 22%;
}
.lp-detail-box{
  background-color:whitesmoke;
  border: 1px solid black ;
  margin-top: 8%;
  border-radius: 6px;
}
.lp-detail-box:hover{
  background: #fff;
  box-shadow: 0px 0px 30px 0 #0000002c;
}
.clipboard-icon{
  color: #0082e6;
  display: inline-block;
}
.clipboard-icon:hover{
  color: black;
  cursor: pointer;
}
.tab-container {
  position: relative;
  width: 60%;
}

.tab-image {
  display: block;
  width: 60%;
  height: auto;
}
.tab-overlay {
  position: absolute;
  top: 20%;
  bottom: 0;
  left: 23%;
  right: 0;
  height: 71%;
  width: 54%;
  transition: .5s ease;
}

.tab-width {
  font-size: 20px;
  top: 9%;
  left: 50%;
}
.tab-height {
  font-size: 20px;
  top: 55%;
  left: 30%;
}
.tab-detail-box{
  background-color:whitesmoke;
  border: 1px solid black ;
  margin-top: 5%;
  width: 65%;
  border-radius: 6px;
}
.sm-container {
  position: relative;
  width: 80%;
}

.sm-image {
  display: block;
  width: 60%;
  height: auto;
}

.sm-overlay {
  position: absolute;
  top: 20%;
  bottom: 0;
  left: 23%;
  right: 0;
  height: 71%;
  width: 54%;
  transition: .5s ease;
}

.sm-width {
  font-size: 18px;
  top: 9%;
  left: 50%;
}
.sm-height {
  font-size: 18px;
  top: 55%;
  left: 40%;
}
.sm-detail-box{
  background-color:whitesmoke;
  border: 1px solid black ;
  margin-top: 8%;
  width: 90%;
  border-radius: 6px;
}
@media only screen and (min-width: 768px) {
  .Feedback-popup{
    margin-top: 9% !important;
  }
}
.section {
  padding: 60px 0;
  position: relative;
}
.gray-bg {
  background-color: #f5f5f5;
}
img {
  max-width: 100%;
}
img {
  vertical-align: middle;
  border-style: none;
}
/* About Me 
---------------------*/
.about-text h3 {
font-size: 45px;
font-weight: 700;
margin: 0 0 6px;
}
@media (max-width: 767px) {
.about-text h3 {
  font-size: 35px;
}
}
.about-text h6 {
font-weight: 600;
margin-bottom: 15px;
}
@media (max-width: 767px) {
.about-text h6 {
  font-size: 18px;
}
}
.about-text p {
font-size: 18px;
max-width: 450px;
}
.about-text p mark {
font-weight: 600;
color: #20247b;
}

.about-list {
padding-top: 10px;
}
.about-list .media {
padding: 5px 0;
}
.about-list label {
color: #20247b;
font-weight: 600;
width: 88px;
margin: 0;
position: relative;
}
.about-list label:after {
content: "";
position: absolute;
top: 0;
bottom: 0;
right: 11px;
width: 1px;
height: 12px;
background: #20247b;
-moz-transform: rotate(15deg);
-o-transform: rotate(15deg);
-ms-transform: rotate(15deg);
-webkit-transform: rotate(15deg);
transform: rotate(15deg);
margin: auto;
opacity: 0.5;
}
.about-list p {
margin: 0;
font-size: 15px;
}

@media (max-width: 991px) {
.about-avatar {
  margin-top: 30px;
}
}
mark {
  background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-position: 0 bottom;
  background-color: transparent;
  padding: 0;
  color: currentColor;
}
.theme-color {
  color: #fc5356;
}
.dark-color {
  color: #20247b;
  font-size: 45px;
  font-weight: 700;
}
.Services{
  height: 100%;
  overflow-y: hidden;
}
.div-top{
  height: 100%;
  background: #03086e;
  color: white;
}
.serv-title{
  font-size: 60px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  overflow-y: hidden;
  margin-top: 4%;
}
.serv-btn{
  background: #fff;
  border-radius:4px ;
  color: #03086e;
  font-size: 20px;
}
.serv-btn:hover{
  color: #fff;
}
.div-down{
  background: whitesmoke;
}
.dwn-div-title{
  margin-left: 20%;
}
.dwn-div-p{
  margin-left: 20%;
  width: 60%;
}
.dwn-div-ul{
  margin-left: 19%;
}
.tag-a:hover{
  background: #fff;
  color: black;
}
@media only screen and (max-width: 768px) {
  .dwn-div-ul{
    margin-left: 0;
  }
  .dwn-div-p{
    margin-left: 5%;
    width: 85%;
  }
  .dwn-div-title{
    margin-left: 5%;
  }
}

